.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.nav-bar-container{
    background-color: rgb(232, 199, 199);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container{
    width: 150px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;

}

.session-menu{
    display: flex;
    justify-content: flex-end;
}